.titulo{
    background-color: aqua;
    border-radius: 50px;
    margin: 15px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
    
}
.subtituloPresentacion{
    background-color: aqua;
    border-radius: 50px;
    margin: 15px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    display: flex;
}